.footer {
  background-color: $subtitle-grey;
  padding: 20px 90px 90px 110px;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid $mid-grey;
    padding: 20px;
  }

  &__menu-list {
    display: flex;
    gap: 75px;
    font-weight: 500;
    font-size: 18px;
  }

  &__bottom {
    padding-top: 50px;

    color: $mid-grey;
    display: flex;
    justify-content: space-between;
  }

  &__bottom-socialmedia {
    padding-right: 50px;
    display: flex;
    gap: 50px;
  }
}
