// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid $border-color;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
  }

  &__menu-link {
    color: $dark-grey;
    font-weight: 500;
    font-size: 18px;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    margin-right: 30px;
  }
}
