.header {
  display: block;
  width: 100%;
  position: fixed;
  background-color: $white;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid $border-color;

    @include media("small") {
      padding: 15px 0;
    }
  }

  &__form {
    display: flex;
    flex-shrink: 0;
    @include media("medium") {
      margin-right: 50px;
    }
    @include media("small") {
    }
  }

  &__menu {
    display: flex;
  }

  &__menu-link {
    color: $mid-grey;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-right: 30px;
    @include media("medium") {
      font-size: 36px;
      line-height: 1.5;
    }
  }

  &__menu-list {
    display: flex;

    @include media("medium") {
      padding-top: 80px;
      flex-direction: column;
      padding-left: 10px;
      width: 350px;
      position: fixed;
      right: -350px;
      top: 0;
      height: 100%;
      z-index: 1;
      transition: right 2s;
      background-color: $light-grey;
    }
  }
  &__menu-item {
    margin-left: 20px;
  }

  &__burger:checked + .header__burger-icon + .header__menu-list {
    right: 0px;
  }
  &__burger {
    display: none;

    &:checked + .header__burger-icon + .header__menu-list {
      @include media("medium") {
        display: block;
        cursor: pointer;
      }
    }
  }

  &__burger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: 100;

    @include media("medium") {
      display: flex;
    }
  }

  &__burger:checked + .header__burger-icon .header__burger-span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  &__burger:checked + .header__burger-icon .header__burger-span:nth-child(2) {
    opacity: 0;
  }

  &__burger:checked + .header__burger-icon .header__burger-span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  &__burger-span {
    width: 30px;
    height: 3px;
    background-color: $mid-grey;
    transition: all 0.3s;
  }
}
