.mobile {
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 120px;

    @include media("medium") {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__header {
    flex: 0 1 48%;
    padding-left: 130px;
    margin-top: 50px;
  }

  &__title {
    margin-left: 40px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;
  }

  &__text {
    margin-left: 30px;
    font-size: 20px;
  }

  &__list {
    list-style: disc;
  }

  &__list-item {
    margin-left: 40px;
    margin-bottom: 10px;
  }

  &__image {
    flex-grow: 1 1 50%;
  }

  &__button {
    margin: 40px;
  }
}
