.numbers {
  background-color: $brand-color;

  &__wrapper {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-left: 110px;
    color: $white;
    justify-content: center;
    @include media("medium") {
      flex-direction: column;
    }
  }

  &__header {
    font-size: 43px;
  }

  &__text {
    flex: 0 1 33.33%;
    margin: 25px;
    border-right: 1px solid $subtitle-grey;
    padding: 15px 30px;
    text-align: center;
    @include media("medium") {
      border-bottom: 1px solid $subtitle-grey;
      border-left: none;
    }
  }

  &__text:nth-child(3n) {
    border: none;
  }

  &__paragraph {
    color: $light-brand-color;
    font-size: 15px;
    font-family: $header-font-stack;
  }
}
