.numbers {
  background-color: $brand-color;

  &__wrapper {
    display: flex;

    color: $white;
    justify-content: center;
    align-items: center;

    padding: 60px 100px;
    @include media("medium") {
      flex-direction: column;
    }
  }

  &__header {
    font-size: 43px;
  }

  &__text {
    padding: 0 40px;
    flex: 0 1 33.33%;
    border-right: 1px solid $subtitle-grey;
    text-align: center;
    @include media("medium") {
      border-bottom: 1px solid $subtitle-grey;
      border-left: none;
    }
  }

  &__text:nth-child(3n) {
    border: none;
  }

  &__paragraph {
    color: $light-brand-color;
    font-size: 15px;
    font-family: $header-font-stack;
  }
}
