.numbers {
  background-color: $brand-color;

  &__decor {
    @include media("medium") {
      display: none;
    }
  }
  &__decor1,
  &__decor2 {
    top: 0px;
    left: -200px;
    position: absolute;
  }

  &__decor3,
  &__decor4 {
    bottom: 0;
    right: 0px;
    position: absolute;
  }

  &__list {
    position: relative;
    display: flex;
    color: $white;
    justify-content: space-evenly;
    align-items: center;
    padding: 55px 00px;
    margin: 0 10px;
    @include media("medium") {
      flex-direction: column;
    }
  }

  &__header {
    font-size: 43px;
    color: $white;
  }

  &__text {
    padding-inline: 50px;
    border-right: 1px solid $subtitle-grey;

    text-align: center;
    @include media("medium") {
      border-bottom: 1px solid $subtitle-grey;
      border-right: none;
    }
    @include media("small") {
      border-bottom: 1px solid $subtitle-grey;
    }
  }

  &__text:nth-child(4n) {
    border: none;
  }

  &__paragraph {
    color: $light-brand-color;
    font-size: 15px;
  }
}
