.restaurants {
  border-top: 1px solid $border-color;
  padding-top: 80px;
  padding-bottom: 200px;
  &__wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 45px;
    margin-bottom: 65px;

    @include media("medium") {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    text-align: center;
  }
  &__card {
    place-self: center;
    width: fit-content;
    margin: 10px;
  }
}
