.review {
  margin-bottom: 200px;
  &__wrapper {
    width: 300%;
    display: flex;
    gap: 50px;
    transition: transform 0.4s ease-in-out;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__card {
    flex: 1 0 530px;
    padding: 30px;
    font-family: $header-font-stack-normal;
    font-size: 18px;
    color: $mid-grey;
    border: 1px solid $border-color;
    border-radius: 20px;
  }

  &__card--no_photo {
    height: fit-content;
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__header:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 58px;
    height: 44px;
    transform: translateY(-50%);
    background: url(/src/public/assets/images/quotes.svg) top center no-repeat;
    background-size: cover;
  }

  &__content {
    font-style: italic;
    margin-bottom: 20px;
  }

  &__photo {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
  }

  &__nav-buttons {
    position: absolute;
    bottom: 25px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__nav-button {
    cursor: pointer;
    padding: 5px 110px;
    background-color: $light-brand-color;
    border-radius: 30px;
    &:hover {
      background-color: $brand-color;
    }
  }

  &__slider-navigation {
    display: none;

    &:checked:nth-of-type(1) ~ .review__wrapper {
      transform: translateX(0%);
    }

    &:checked:nth-of-type(2) ~ .review__wrapper {
      transform: translateX(-33.33%);
    }

    &:checked:nth-of-type(3) ~ .review__wrapper {
      transform: translateX(-66.66%);
    }

    &:nth-child(1):checked
      ~ .review__nav-buttons
      .review__nav-button:nth-child(1) {
      background-color: $brand-color;
    }

    &:nth-child(2):checked
      ~ .review__nav-buttons
      .review__nav-button:nth-child(2) {
      background-color: $brand-color;
    }

    &:nth-child(3):checked
      ~ .review__nav-buttons
      .review__nav-button:nth-child(3) {
      background-color: $brand-color;
    }
  }
}
