.review {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  &__title {
    text-align: center;
  }

  &__card {
    padding: 38px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__content {
    font-style: italic;
    margin-bottom: 20px;
  }

  &__photo {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
