.banner {
  &__wrapper {
    background-image: url("/src/public/assets/images/banner-bg.jpg");
    border-radius: 15px;
    height: 300px;
    padding: 30px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__title {
    color: $white;
    font-weight: 900;
  }
  &__image {
    position: absolute;
    right: 55px;
    bottom: -100px;
    max-width: 280px;

    @include media("medium") {
      display: none;
    }
  }

  &__input {
    height: 80px;
    width: 355px;
    border-radius: 16px;
  }

  &__button {
    position: absolute;
    left: 230px;
    bottom: 110px;
  }
}
