.banner {
  margin-bottom: 250px;
  &__wrapper {
    background-image: url("/src/public/assets/images/banner-bg.jpg");
    border-radius: 40px;
    height: 280px;
    padding-top: 58px;
    padding-left: 100px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__title {
    color: $very-light-brand-color;
    font-weight: 900;

    @include media("medium") {
      font-size: 45px;
    }
  }
  &__image {
    position: absolute;
    right: 55px;
    bottom: -100px;
    max-width: 280px;

    @include media("medium") {
      display: none;
    }
  }

  &__input {
    background-color: $very-light-brand-color;
    height: 70px;
    width: 440px;
    border-radius: 16px;
    padding-left: 10px;
    @include media("medium") {
      width: 340px;
    }
  }

  &__button {
    position: absolute;
    height: 54px;
    left: 390px;
    bottom: 70px;
    @include media("small") {
      height: 54px;
      left: 120px;
      bottom: 70px;
    }
  }
}
