.hero {
  &__container {
    display: flex;
    padding: 200px 0px 100px;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
    @include media("medium") {
      flex-direction: column;

      text-align: center;
    }
  }

  &__header {
    flex: 1 1 49%;
    @include media("medium") {
      margin-bottom: 100px;
    }
  }

  &__subtitle {
    display: inline-block;
    color: $subtitle-grey;
    font-family: $header-font-stack;
    font-size: 15px;
    padding-left: 60px;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 15px;
    z-index: -10;
  }

  &__subtitle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 54px;
    height: 2px;
    background-color: $subtitle-grey;
  }

  &__title {
    letter-spacing: -3px;
    margin-bottom: 15px;
  }

  &__text {
    color: $mid-grey;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 55px;
    line-height: 1.5;
  }

  &__buttons {
    margin-bottom: 33px;
  }

  &__raiting {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: rgba(51, 65, 85, 1); // variable
    font-weight: 500;
    @include media("medium") {
      justify-content: center;
    }
  }

  &__image {
    max-width: 40%;
    margin-right: 9.5%;
    z-index: -10;
    @include media("medium") {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__image-wrapper {
    position: relative;
    z-index: -10;
  }

  &__image-wrapper::before {
    content: "";
    position: absolute;
    top: -3%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: -1;
    background-color: #6c5fbc;
  }

  &__image-wrapper::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 90%;
    width: 20%;
    height: 20%;
    z-index: -1;
    background: url(/src/public/assets/images/arrow.svg) top center no-repeat;
    background-size: cover;
  }

  &__image-graph {
    position: absolute;
    bottom: -15%;
    left: 0;
    max-width: 50%;
  }

  &__image-graph::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 1%;
    width: 38px;
    height: 33px;
    z-index: 2;
    background: url(/src/public/assets/images/pattern-2.svg) top center
      no-repeat;
    background-size: cover;
  }
  &__order-outer {
    position: absolute;
    bottom: 90%;
    left: 40%;
    width: 50%;
  }

  &__order-outer::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 8%;
    width: 42px;
    height: 28px;
    background: url(/src/public/assets/images/pattern-1.svg) top center
      no-repeat;
    background-size: cover;
  }
  &__order {
    position: relative;
  }
}
