.hero {
  &__container {
    display: flex;
    padding: 200px 0px 0px;
    @include media("medium") {
      flex-direction: column;

      text-align: center;
    }
  }

  &__header {
    margin-bottom: 100px;
  }
  &__subtitle {
    display: inline-block;
    color: $subtitle-grey;
    font-family: $header-font-stack;
    font-size: 15px;
    padding-left: 60px;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 15px;
    z-index: -10;
  }

  &__subtitle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 54px;
    height: 2px;
    background-color: rgba(32, 31, 31, 0.2);
  }

  &__title {
    letter-spacing: -3px;
    margin-bottom: 15px;
  }

  &__image {
    margin-right: 9.5%;
  }

  &__text {
    color: $mid-grey;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 55px;
    line-height: 1.5;
  }

  &__buttons {
    margin-bottom: 33px;
  }

  &__raiting {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: rgba(51, 65, 85, 1);
    font-weight: 500;
    @include media("medium") {
      justify-content: center;
    }
  }
  &__image {
    position: relative;
    max-width: 40%;
    z-index: -10;
    @include media("medium") {
      max-width: 100%;
    }
  }
  &__image__graph {
    position: relative;
    top: -220px;
    right: 0px;
  }

  &__order {
    position: absolute;
    bottom: 93%;
    left: 65%;
  }
}
