.logo {
  display: flex;
  align-items: center;

  &__text {
    font-family: $header-font-stack;
    font-size: 21px;
    font-weight: 800;
    margin-left: 10px;
    color: $brand-color;
    line-height: 24.15px;
  }
}
