.order {
  height: 64px;
  width: 258px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 25px rgba(70, 70, 70, 0.05);
  padding: 5px 15px;

  &__container {
    display: flex;

    height: 100%;
  }

  &__image {
    margin-right: 20px;
  }

  &__text {
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
  }

  &__name {
    font-size: 15px;
    margin: 0 0 5px;
  }

  &__status {
    font-size: 10px;
    margin: 0 0 5px;
  }

  &__time {
    text-align: right;
    font-size: 11px;
    color: #acadb9;
  }
}
