.restaurants {
  &__wrapper {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 65px;

    @include media("medium") {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    text-align: center;
  }

  &__card {
    place-self: center;
    display: flex;
    background-color: $white;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
    transition: all 0.5s ease;
    border-radius: 30px;
    padding-bottom: 20px;
    box-shadow: 6px 71px 36px rgba(229, 229, 229, 0.7);
  }

  &__card:hover {
    transform: scale(1.1);
  }
}

.card {
  &__text {
    padding: 10px 10px 10px 10px;
  }
  &__tag {
    font-size: 13px;
    margin-bottom: 5px;
    font-family: $header-font-stack;
    border-radius: 5px;
    max-width: fit-content;
    padding: 3px 5px;
  }

  &__tag--red {
    color: #fb461d;
    background-color: #f7c5ba;
  }

  &__details {
    display: flex;
    align-items: center;
    color: $mid-grey;
  }
}

.details {
  &__raiting {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
