<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <h2 class="banner__title h1">GET 50%</h2>

            <form class="banner__form">
                <input class="banner__input" type="email" name="
                email" placeholder="Enter your email Address" />
                <button class="banner__button button button--purple">
                    SUBSCRIBE
                </button>
            </form>

            <div class="banner__image">
                <img src="../public/assets/images/hero_salmon_plate.png" alt="" />
            </div>
        </div>
    </div>
</section>