<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__title h1">GET 50%</div>
            <div class="banner__input">
                <form>
                    <input class='banner__input' type="email" name="
                email" placeholder="Enter your email Address"> <button class="banner__button button
                        button--purple">SUBSCRIBE</button>



                </form>
            </div>
            <div class="banner__image"><img src="../public/assets/images/hero_salmon_plate.png" alt=""></div>
        </div>
    </div>
</section>