<section class="dashboard">
    <div class="container dashboard__wrapper">
        <div class="dashboard__header">
            <h2 class="dashboard__title h2 ">Control <span class="purple-text">Purchases</span> Via Dashboard </h2>
            <div class="dashboard__orders">
                <div class="order">
                    <div class="order__image"><img src="../public/assets/images/hero_salmon_plate.png"
                            alt="yummy_salmon" />
                    </div>
                    <div class="order__text">
                        <h2 class="order__name">Grilled Fish</h2>
                        <p class="order__status">On The Way</p>
                        <div class="order__time">
                            3:09
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="order__image"><img src="../public/assets/images/hero_salmon_plate.png"
                            alt="yummy_salmon" />
                    </div>
                    <div class="order__text">
                        <h2 class="order__name">Grilled Fish</h2>
                        <p class="order__status">On The Way</p>
                        <div class="order__time">
                            3:09
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="order__image"><img src="../public/assets/images/hero_salmon_plate.png"
                            alt="yummy_salmon" />
                    </div>
                    <div class="order__text">
                        <h2 class="order__name">Grilled Fish</h2>
                        <p class="order__status">On The Way</p>
                        <div class="order__time">
                            3:09
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" dashboard__stats ">
            <div class="dashboard__stats-header">
                <h3>Purchases</h3>
                <div class="dashboard__stats-period">
                    <select name="dashboard__stats-period">
                        <option value="week">This week</option>
                        <option value="month">This month</option>
                        <option value="year">This year</option>
                    </select>
                </div>
            </div>

            <div class="dashboard__stats-content">
                <div class="dashboard__stats-inner">
                    <div class="dashboard__stats-title">
                        <div class="dashboard__stats-image"><img src="../public/assets/images/stats-icon1.png" alt="">
                        </div>
                        <div class="dashboard__stats-text">
                            <h5>Expense</h5>
                            <p class="gray-comments">Increased By 10%</p>
                        </div>
                    </div>
                    <h4>$409</h4>
                </div>
                <div class="dashboard__progress-bar-outer">
                    <div class="dashboard__progress-bar"></div>
                </div>
            </div>

            <div class="dashboard__stats-content">
                <div class="dashboard__stats-inner">
                    <div class="dashboard__stats-title">
                        <div class="dashboard__stats-image"><img src="../public/assets/images/stats-icon1.png" alt="">
                        </div>
                        <div class="dashboard__stats-text">
                            <h5>Expense</h5>
                            <p class="gray-comments">Increased By 10%</p>
                        </div>
                    </div>
                    <h4>$45</h4>
                </div>
                <div class="dashboard__progress-bar-outer dashboard__progress-bar-outer--orange">
                    <div class=" dashboard__progress-bar dashboard__progress-bar--orange"></div>
                </div>
            </div>

        </div>
    </div>
</section>