<section class="dishes">
    <div class="container">
        <h2 class="dishes__title">Our Top <span class="span">Dishes</span></h2>

        <div class="dishes__wrapper">

            <div class="dishes__card">
                <div class="card__image">
                    <div class="card__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">

                </div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Top</div>
                    <h3 class="card__name">Chicken</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting">- 4.9 <img src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="details__price ">
                        <div class="price__name dishes__title h2">$12.99</div>
                        <div class="price__add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>


                </div>
            </div>

            <div class="dishes__card">
                <div class="card__image">
                    <div class="card__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">

                </div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Top</div>
                    <h3 class="card__name">Chicken</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting">- 4.9 <img src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="details__price ">
                        <div class="price__name dishes__title h2">$12.99</div>
                        <div class="price__add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card">
                <div class="card__image">
                    <div class="card__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>

                <div class="card__text">
                    <div class="card__tag card__tag--red">Top</div>
                    <h3 class="card__name">Chicken</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting">- 4.9<img src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="details__price ">
                        <div class="price__name dishes__title h2">$12.99</div>
                        <div class="price__add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card">
                <div class="card__image">
                    <div class="card__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">

                </div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Top</div>
                    <h3 class="card__name">Chicken</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting"> - 4.9 <img src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="details__price ">
                        <div class="price__name dishes__title h2">$12.99</div>
                        <div class="price__add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card">
                <div class="card__image">
                    <div class="card__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">

                </div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Top</div>
                    <h3 class="card__name">Chicken</h3>
                    <div class="card__details">
                        <div class="details__time">24 min </div>
                        <div class="details__raiting"> - 4.9 <img src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="details__price ">
                        <div class="price__name dishes__title h2">$12.99</div>
                        <div class="price__add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>