<section class="dishes">
    <div class="container">
        <h2 class="dishes__title">Our Top <span class="purple-text">Dishes</span></h2>
        <div class="dishes__wrapper">

            <div class="dishes__card card">
                <div class="dishes__image">
                    <div class="dishes__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>
                <div class="card__text">
                    <h5 class="card__tag card__tag--red">Top</h5>
                    <h3>Chicken</h3>
                    <div class="card__details">
                        <p class="card__time">24 min</h6>
                        <div class="card__rating"><span class="details__raiting-number">- 4.9</span> <img
                                src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="dishes__price">
                        <h3>$12.99</h3>
                        <div class="add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card card">
                <div class="dishes__image">
                    <div class="dishes__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>
                <div class="card__text">
                    <h5 class="card__tag card__tag--red">Top</h5>
                    <h3>Chicken</h3>
                    <div class="card__details">
                        <p class="card__time">24 min</h6>
                        <div class="card__rating"><span class="details__raiting-number">- 4.9</span> <img
                                src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="dishes__price">
                        <h3>$12.99</h3>
                        <div class="add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card card">
                <div class="dishes__image">
                    <div class="dishes__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>
                <div class="card__text">
                    <h5 class="card__tag card__tag--red">Top</h5>
                    <h3>Chicken</h3>
                    <div class="card__details">
                        <p class="card__time">24 min</h6>
                        <div class="card__rating"><span class="details__raiting-number">- 4.9</span> <img
                                src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="dishes__price">
                        <h3>$12.99</h3>
                        <div class="add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card card">
                <div class="dishes__image">
                    <div class="dishes__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>
                <div class="card__text">
                    <h5 class="card__tag card__tag--red">Top</h5>
                    <h3>Chicken</h3>
                    <div class="card__details">
                        <p class="card__time">24 min</h6>
                        <div class="card__rating"><span class="details__raiting-number">- 4.9</span> <img
                                src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="dishes__price">
                        <h3>$12.99</h3>
                        <div class="add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="dishes__card card">
                <div class="dishes__image">
                    <div class="dishes__like"><img src="../public/assets/images/heart.svg" alt=""></div>
                    <img src="../public/assets/images/hero_salmon_plate.png" alt=" grilled salmon">
                </div>
                <div class="card__text">
                    <h5 class="card__tag card__tag--red">Top</h5>
                    <h3>Chicken</h3>
                    <div class="card__details">
                        <p class="card__time">24 min</h6>
                        <div class="card__rating"><span class="details__raiting-number">- 4.9</span> <img
                                src="../public/assets/images/purple_star.png" alt="">
                        </div>
                    </div>
                    <div class="dishes__price">
                        <h3>$12.99</h3>
                        <div class="add"><img src="../public/assets/images/add.png" alt=""></div>
                    </div>
                </div>
            </div>

        </div>
        <a href="#" class="view_all">View All <img src="../public/assets/images/simple_arrow.svg" alt=""></a>
    </div>
</section>