<footer class="footer">
    <nav class="footer__menu">
        <div class=" logo logo--footer">
            <img class="logo__image logo__image--footer" src="./assets/images/Logo.png" alt="fork and knife" />
            <span class="span logo__text logo__text--footer">eatly</span>
        </div>

        <ul class="footer__menu-list">

            <li class="footer__menu-item">
                <a class="footer__menu-link" href="">Blog</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="">About Us</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="">Pricing</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="footer__bottom">
        <div class="footer__bottom-copywrite grey-text">© 2023 EATLY All Rights Reserved.</div>

        <div class="footer__bottom-social-media
    ">
            <div class="bottom-socialmedia__item"> <img src="../public/assets/images/instagram.svg" alt="instagram">
            </div>
            <div class="bottom-socialmedia__item"> <img src="../public/assets/images/facebook.svg" alt="facebook">
            </div>
            <div class="bottom-socialmedia__item"> <img src="../public/assets/images/linkedin.svg" alt="linkedin">
            </div>
            <div class="bottom-socialmedia__item"> <img src="../public/assets/images/twitter.svg" alt="x"></div>
        </div>
    </div>
</footer>