<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="logo">
        <img class="logo__image" src="./assets/images/Logo.png" alt="fork and knife" />
        <span class="span logo__text">eatly</span>
      </div>

      <nav class="header__menu">

        <input type="checkbox" class="header__burger" id="header__burger" />
        <label for="header__burger" class="header__burger-icon">
          <span class="header__burger-span"></span>
          <span class="header__burger-span"></span>
          <span class="header__burger-span"></span>
        </label>

        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Menu</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Blog</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Pricing</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>

      <div class="header__form">
        <button class="button button--login">
          <span class="button__text">Login</span>
        </button>
        <button class="button button--purple">
          <span class="button__text">Sign up</span>
        </button>
      </div>
    </div>
  </div>
  </div>
</header>