<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="logo">
        <img
          class="logo__image"
          src="./assets/images/Logo.png"
          alt="fork and knife"
        />
        <span class="logo__text">eatly</span>
      </div>

      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Menu</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Blog</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Pricing</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header__form">
        <button class="button--login">Login</button>
        <button class="button--purple">Sign up</button>
      </div>

      <div class="header__burger">
        <img
          class="burger__menu"
          src="../public/assets/images/burger-menu.svg"
          alt="menu"
        />
      </div>
    </div>
  </div>
</header>
