<div class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__header">
        <div class="hero__subtitle">OVER 1000 USERS</div>

        <h1 class="hero__title">
          Enjoy Foods All Over The <span class="span">World</span>
        </h1>
        <div class="hero__text">
          EatLy help you set saving goals, earn cash back offers, Go to
          disclaimer for more details and get paychecks up to two days early.
          <span class="span">Get a $20 bonus.</span>
        </div>
        <div class="hero__buttons">
          <button class="button button--purple">
            <span class="button__text">Get Started</span>
          </button>
          <button class="button button--white">
            <span class="button__text">Go Pro</span>
          </button>
        </div>
        <div class="hero__raiting">
          <div class="raiting__trustpilot">
            <img src="../public/assets/images/green star.png" alt="green star" />
            <img src="../public/assets/images/trustpilot.png" alt="Trustpilot" />
          </div>
          <div class="raiting__trustpilotstars">
            <img src="../public/assets/images/Star.png" alt="5 stars" />
            <span class="">4900+</span>
          </div>
        </div>
      </div>
      <div class="hero__image">
        <div class="hero__image-wrapper">
          <img class="hero__image-plate" src="../public/assets/images/hero_salmon_plate.png"
            alt="yummy grilled salmon and salad" />


          <div class="hero__image-graph">
            <img src="../public/assets/images/graph.svg" alt="Graph with growth of sales" />
          </div>

          <div class="hero__order-outer">
            <div class="hero__order order">

              <div class="order__image"><img src="../public/assets/images/hero_salmon_plate.png" alt="yummy_salmon" />
              </div>
              <div class="order__text">
                <h2 class="order__name">Grill Fish</h2>
                <p class="order__status">On The Way</p>
                <div class="order__time">
                  3:09
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>