<main>
  <div class="hero">
    <div class="hero__text">
      <div class="hero subtitle">OVER 1000 USERS</div>
      <h1 class="hero__title">Enjoy Foods All Over The World</h1>
      <div class="hero__paragraph">
        EatLy help you set saving goals, earn cash back offers, Go to disclaimer
        for more details and get paychecks up to two days early. Get a $20
        bonus.
      </div>
      <div class="hero__buttons">
        <button>Get Started</button>
        <button>Go Pro</button>
      </div>
      <div class="hero__raiting"></div>
    </div>
    <div class="hero__image">
      <img
        src="../public/assets/images/hero_salmon_plate.png"
        alt="yummy grilled salmon and salad"
      />
    </div>
  </div>
</main>
