<main>
  <div class="hero">
    <div class="container">
      <div class="hero__container">
        <div class="hero__text">
          <div class="hero__subtitle">OVER 1000 USERS</div>

          <h1 class="hero__title">
            Enjoy Foods All Over The <span class="hero__span">World</span>
          </h1>
          <div class="hero__paragraph">
            EatLy help you set saving goals, earn cash back offers, Go to
            disclaimer for more details and get paychecks up to two days early.
            <span class="hero__span">Get a $20 bonus.</span>
          </div>
          <div class="hero__buttons">
            <button class="hero__button button--purple">Get Started</button>
            <button class="button--white hero__button--white">Go Pro</button>
          </div>
          <div class="hero__raiting">
            <div class="trustpilot">
              <img
                src="../public/assets/images/green star.png"
                alt="green star"
              />
              <img
                src="../public/assets/images/trustpilot.png"
                alt="Trustpilot"
              />
            </div>
            <div class="stars">
              <img src="../public/assets/images/Star.png" alt="5 stars" />
              <span class="">4900+</span>
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img
            src="../public/assets/images/hero_salmon_plate.png"
            alt="yummy grilled salmon and salad"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="numbers"></div>
</main>
