<div class="mobile">
    <div class="container">
        <div class="mobile__wrapper">
            <div class="mobile__image">
                <img src="../public/assets/images/phone.png" alt="">
            </div>
            <div class="mobile__header">
                <h2 class="mobile__title
            ">Premium Quality For Your Health</h2>
                <div class="mobile__text">
                    <ul>
                        <li>Premium quality food is made with ingredients that are packed with essential vitamins,
                            minerals.</li>
                        <li>These foods promote overall wellness by support healthy digestion and boosting immunity</li>
                    </ul>
                    <div class="mobile__button">
                        <button class="button button--purple">Download</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>