<div class="numbers">
  <div class="container">
    <div class="numbers__wrapper">
      <div class="numbers__text">
        <h1 class="numbers__header">10K+</h1>
        <p class="numbers__paragraph">
          Satisfied Costumers All Great Over The World
        </p>
      </div>
      <div class="numbers__text">
        <h1 class="numbers__header">4M</h1>
        <p class="numbers__paragraph">
          Healthy Dishes Sold Including Milk Shakes Smooth
        </p>
      </div>
      <div class="numbers__text">
        <h1 class="numbers__header">99.99%</h1>
        <p class="numbers__paragraph">
          Reliable Customer Support We Provide Great Experiences
        </p>
      </div>
    </div>
  </div>
</div>