<section class="numbers">
  <div class="container" class="numbers__wrapper">

    <ul class="numbers__list">
      <div class="numbers__decor">
        <div class="numbers__decor-img"> <img class="numbers__decor1" src="../public/assets/images/vector1.svg" alt="">
        </div>
        <div class="numbers__decor-img"> <img class="numbers__decor2" src="../public/assets/images/vector2.svg" alt="">
        </div>
        <div class="numbers__decor-img"> <img class="numbers__decor3" src="../public/assets/images/vector3.svg" alt="">
        </div>
        <div class="numbers__decor-img"> <img class="numbers__decor4" src="../public/assets/images/vector4.svg" alt="">
        </div>
      </div>

      <li class="numbers__text">
        <h2 class="numbers__header">10K+</h2>
        <p class="numbers__paragraph">
          Satisfied Costumers From All Over The World
        </p>
      </li>
      <li class="numbers__text">
        <h2 class="numbers__header">4M</h2>
        <p class="numbers__paragraph">
          Healthy Dishes Including Milk Shakes and Smoothies
        </p>
      </li>
      <li class="numbers__text">
        <h2 class="numbers__header">99.99%</h2>
        <p class="numbers__paragraph">
          Customers have a great experience with reliable customer support
        </p>
      </li>
    </ul>
  </div>

</section>