<section class="restaurants">
    <div class="container">

        <h2 class='restaurants__title'> Our Top Restaurants</h2>
        <div class="restaurants__wrapper">

            <div class="restaurants__card">
                <div class="card__image"><img src="../public/assets/images/Resturent Image.png" alt=""></div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h3 class="card__name">The Chicken King</h3>
                    <div class="card__details">
                        <div class="details__time">24 min
                        </div>
                        <div class="details__raiting">
                            <img src="../public/assets/images/Star.png" alt="star">
                            4.9
                        </div>
                        <div class="details__save"><img src="../public/assets/images/Book Mark.png" alt="bookmark">
                        </div>
                    </div>
                </div>
            </div>

            <div class="restaurants__card">
                <div class="card__image"><img src="../public/assets/images/Resturent Image.png" alt=""></div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h3 class="card__name">The Chicken King</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting">
                            <img src="../public/assets/images/Star.png" alt="star">
                            4.9
                        </div>
                        <div class="details__save"><img src="../public/assets/images/Book Mark.png" alt="bookmark">
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="restaurants__card">
                <div class="card__image"><img src="../public/assets/images/Resturent Image.png" alt=""></div>
                <div class="card__text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h3 class="card__name">The Chicken King</h3>
                    <div class="card__details">
                        <div class="details__time">24 min</div>
                        <div class="details__raiting">
                            <img src="../public/assets/images/Star.png" alt="star">
                            4.9
                        </div>
                        <div class="details__save"><img src="../public/assets/images/Book Mark.png" alt="bookmark">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>