<section class="restaurants">
    <div class="container">
        <h2 class="restaurants__title">
            Our Top <span class="purple-text">Restaurants</span>
        </h2>
        <div class="restaurants__wrapper">
            <div class=" restaurants__card card">
                <div class="card__image">
                    <img src="../public/assets/images/restaraunt.png" alt="" />
                </div>
                <div class="restaurants__card-text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h4>The Chicken King</h4>
                    <div class="card__details">
                        <div class="card__time">24 min</div>
                        <div class="card__rating">
                            <img src="../public/assets/images/purple_star.png" alt="star" />
                            4.9
                        </div>
                        <div>
                            <img src="../public/assets/images/bookmark.png" alt="bookmark" />
                        </div>
                    </div>
                </div>
            </div>

            <div class=" restaurants__card card">
                <div class="card__image">
                    <img src="../public/assets/images/restaraunt.png" alt="" />
                </div>
                <div class="restaurants__card-text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h4>The Chicken King</h4>
                    <div class="card__details">
                        <div class="card__time">24 min</div>
                        <div class="card__rating">
                            <img src="../public/assets/images/purple_star.png" alt="star" />
                            4.9
                        </div>
                        <div>
                            <img src="../public/assets/images/bookmark.png" alt="bookmark" />
                        </div>
                    </div>
                </div>
            </div>

            <div class=" restaurants__card card">
                <div class="card__image">
                    <img src="../public/assets/images/restaraunt.png" alt="" />
                </div>
                <div class="restaurants__card-text">
                    <div class="card__tag card__tag--red">Healthy</div>
                    <h4>The Chicken King</h4>
                    <div class="card__details">
                        <div class="card__time">24 min</div>
                        <div class="card__rating">
                            <img src="../public/assets/images/purple_star.png" alt="star" />
                            4.9
                        </div>
                        <div>
                            <img src="../public/assets/images/bookmark.png" alt="bookmark" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="view_all">View All <img src="../public/assets/images/simple_arrow.svg" alt=""></a>
    </div>
</section>å