<section class="review">
    <div class="container">
        <h2 class="review__title h3"><span class="span">Customer</span> Say</h2>
        <div class="review__container">


            <div class="review__card">
                <div class="review__card-header">
                    <div class="card-header__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                    <div class="card-header__text">
                        <h4>Alexander R.</h4>
                        <p>1 Year With Us</p>
                    </div>
                </div>
                <div class="review__card-paragraph">“ Online invoice payment helps companies save time, are faster and
                    save maximum effort for the clients and save maximum effort. Online invoice payment helps companies
                    save time ”</div>
                <div class="review__card-stars"><img src="../public/assets/images/Star.png" alt=""></div>
            </div>

            <div class="review__card">
                <div class="review__card-header">
                    <div class="card-header__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                    <div class="card-header__text">
                        <h4>Alexander R.</h4>
                        <p>1 Year With Us</p>
                    </div>
                </div>
                <div class="review__card-paragraph">“ Online invoice payment helps companies save time, are faster and
                    save maximum effort for the clients and save maximum effort. Online invoice payment helps companies
                    save time ”</div>
                <div class="review__card-stars"><img src="../public/assets/images/Star.png" alt=""></div>
            </div>

            <div class="review__card">
                <div class="review__card-header">
                    <div class="card-header__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                    <div class="card-header__text">
                        <h4>Alexander R.</h4>
                        <p>1 Year With Us</p>
                    </div>
                </div>
                <div class="review__card-paragraph">“ Online invoice payment helps companies save time, are faster and
                    save maximum effort for the clients and save maximum effort. Online invoice payment helps companies
                    save time ”</div>
                <div class="review__card-stars"><img src="../public/assets/images/Star.png" alt=""></div>
            </div>
        </div>

    </div>
</section>