<section class="review">
    <div class="container">
        <h2 class="review__title "><span class="purple-text">Customer</span> Say</h2>
        <div class="review__slider">
            <input type="radio" name="slider" id="slide1" class="review__slider-navigation" checked="checked" />
            <input type="radio" name="slider" id="slide2" class="review__slider-navigation" />
            <input type="radio" name="slider" id="slide3" class="review__slider-navigation" />

            <div class="review__wrapper">
                <div class="review__card card" id="content1">
                    <div class="review__header">
                        <div class="review__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                        <div class="review__text">
                            <h4>Alexander R.</h4>
                            <p>1 Year With Us</p>
                        </div>
                    </div>
                    <div class="review__content">“ Online invoice payment helps companies save time, are faster and
                        save maximum effort for the clients and save maximum effort. Online invoice payment helps
                        companies save time ”</div>
                    <div class="review__stars"><img src="../public/assets/images/Star.png" alt=""></div>
                </div>


                <div class="review__card card" id="content2">
                    <div class="review__header">
                        <div class="review__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                        <div class="review__text">
                            <h4>Alexander R.</h4>
                            <p>1 Year With Us</p>
                        </div>
                    </div>
                    <div class="review__content">“ Online invoice payment helps companies save time, are faster and
                        save maximum effort for the clients and save maximum effort. Online invoice payment helps
                        companies save time ”</div>
                    <div class="review__stars"><img src="../public/assets/images/Star.png" alt=""></div>
                </div>

                <div class="review__card card" id="content3">
                    <div class="review__header">
                        <div class="review__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                        <div class="review__text">
                            <h4>Alexander R.</h4>
                            <p>1 Year With Us</p>
                        </div>
                    </div>
                    <div class="review__content">“ Online invoice payment helps companies save time, are faster and
                        save maximum effort for the clients and save maximum effort. Online invoice payment helps
                        companies save time ”</div>
                    <div class="review__stars"><img src="../public/assets/images/Star.png" alt=""></div>
                </div>

                <div class="review__card card" id="content4">
                    <div class="review__header">
                        <div class="review__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                        <div class="review__text">
                            <h4>Alexander R.</h4>
                            <p>1 Year With Us</p>
                        </div>
                    </div>
                    <div class="review__content">“ Online invoice payment helps companies save time, are faster and
                        save maximum effort for the clients and save maximum effort. Online invoice payment helps
                        companies save time ”</div>
                    <div class="review__stars"><img src="../public/assets/images/Star.png" alt=""></div>
                </div>

                <div class="review__card card" id="content5">
                    <div class="review__header">
                        <div class="review__photo"><img src="../public/assets/images/customer-photo.png" alt=""></div>
                        <div class="review__text">
                            <h4>Alexander R.</h4>
                            <p>1 Year With Us</p>
                        </div>
                    </div>
                    <div class="review__content">“ Online invoice payment helps companies save time, are faster and
                        save maximum effort for the clients and save maximum effort. Online invoice payment helps
                        companies save time ”</div>
                    <div class="review__stars"><img src="../public/assets/images/Star.png" alt=""></div>
                </div>
            </div>

            <div class="review__nav-buttons">
                <label for="slide1" class="review__nav-button"></label>
                <label for="slide2" class="review__nav-button"></label>
                <label for="slide3" class="review__nav-button"></label>
            </div>
        </div>
    </div>
    </div>
</section>