// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Inter", "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

$header-font-stack: "Poppins", "Open Sans", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// @type Color
$brand-color: rgb(108, 95, 188) !default;

/// @type Color
$light-brand-color: rgb(197, 191, 237) !default;

/// @type Color
$white: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$light-grey: rgb(249, 249, 249) !default;

$subtitle-grey: rgba(32, 31, 31, 0.2);

/// Medium grey
/// @type Color
$mid-grey: rgb(103, 103, 103) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(48, 1, 1) !default;

/// Dark grey
/// @type Color
$border-color: rgb(203, 203, 203) !default;

/// Container's maximum width
/// @type Length
$max-width: 1280px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 424px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
