// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  background-color: $background-color;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: $mid-grey;
  @include on-event {
    color: $brand-color;
  }
}
