// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// IMPORT FONTS

@font-face {
  font-family: "Poppins";
  src: local("Poppins") url("/src/public/assets/fonts/Poppins-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter") url("/src/public/assets/fonts/Inter.ttf")
    format("truetype");
}

@font-face {
  font-family: "PJ";
  src: local("PJ")
    url("..../assets/fonts/vite-for-making-layouts/src/public/assets/fonts/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}

// @font-face {
//   font-family: oswald;
//   src: url(../../assets/fonts/Oswald.zip);

// }
// @font-face {
//   font-family: caveat;
//   src: url(../../assets/fonts/Caveat.zip);
// }
