/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

// font-weight 700
h1,
.h1 {
  font-family: $text-font-stack;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: $text-color;
}

// font-weight 700
h2,
.h2 {
  font-family: $text-font-stack;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: $text-color;
}

// font-weight 700
h3,
.h3 {
  font-family: $text-font-stack;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: $text-color;
}

// font-weight 500
h4,
.h4 {
  font-family: $text-font-stack;
  font-size: 20px;
  line-height: 24px;
  font-weight: medium;
  color: $text-color;
}

// font-weight 500
h5,
.h5 {
  font-family: $text-font-stack;
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
  color: $text-color;
}

// font-weight 400
p,
.p {
  font-family: $text-font-stack;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $text-color;
}

// font-weight 400
.p--sm {
  font-family: $text-font-stack;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $text-color;
}

span {
  font-family: $text-font-stack;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: $text-color;
}