/**
 * Basic typography style for copy text
 */
body {
  font-family: $text-font-stack;
}

h1,
.h1 {
  font-family: $header-font-stack;
  font-size: 75px;
  line-height: 1.2;
  margin-block-start: 0;
  margin-block-end: 0;
}

// font-weight 700
h2,
.h2 {
  font-family: $header-font-stack;
  font-size: 47px;
  font-weight: bold;
  color: $text-color;
}

// font-weight 700
h3,
.h3 {
  font-family: $text-font-stack;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  color: $text-color;
}

// font-weight 500
h4,
.h4 {
  font-family: $text-font-stack;
  font-size: 20px;
  line-height: 24px;
  font-weight: medium;
  color: $text-color;
}

h5,
.h5 {
  font-family: $text-font-stack;
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
  color: $text-color;
}
p {
  color: $light-grey;
  font-weight: 500;
  font-size: 18px;
}

p,
ul {
  font-family: $text-font-stack;
  font-weight: normal;
  color: $text-color;
}

.span {
  color: $brand-color;
}
